torch>=1.10
torchvision>=0.2
zarr>=2.12
albumentations>=1.2
pyyaml
cztile>=2.0.0
mlflow
opencv-python>=4.11.0.0
opencv-python-headless>=4.11.0.0
napari[all]>=0.6.0
numpy>=1.22
napari-plugin-engine>=0.1.4
scikit-image>=0.19
numba>=0.58.1
imagecodecs
openpyxl
imagehash
mlflow
simpleitk
tqdm